<ag-grid-angular
  #agGrid
  style="width: 100%; height: 100%;"
  class="ag-theme-alpine"
  [gridOptions]="options"
  [statusBar]="statusBar"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [suppressRowClickSelection]="true"
  [rowSelection]="rowSelection"
  [frameworkComponents]="frameworkComponents"
  [rowData]="rowData$ | async"
  [getContextMenuItems]="getContextMenuItems"
  (selectionChanged)="selectionChanged($event)"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>
